######################################################
### Specified versions are used for the initial commit
######################################################
torch 
torchvision 
mmcv == 1.5.1
numpy
